{% extends 'layouts/base.html' %}

{% block content %}

{% comment %} {% for question in all_posts%}  {% endcomment %}
{% for question in object_list %}
  <div class="container m-5"  style="width: 40rem;"> 
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">By :{{question.user}}</h6> 
        <!-- was by: {{user}}=> AnonymousUser -->
        <h4 class="card-title">{{question.title}}</h4>
        <p class="card-text">{{question.text | safe | truncatewords:20}}</p>
        <!-- <time class="card-subtitle mb-2 text-muted">{{question.date_created}}</time> -->
        <br>        
        <h6 class="btn btn-info btn-sm">{{question.category}}</h6>
        <!-- {% for cat in question.category.all %}
        <h6 class="btn btn-info btn-sm">{{cat}}</h6>
        {% endfor %} -->
        <br>
        <p class="card-text text-muted">views:{{question.num_of_views}}</p>
        <!-- <i style="font-size:24px" class="fa">&#xf06e;</i> -->
        <a href="{% url 'questions:question_detail' question.id %}" class="card-link">more</a>
        
      </div>
    </div>
  </div>
{% endfor %}

{% endblock%}