{% extends 'layouts/base.html' %}

{% block content %}

{% comment %} {% for question in all_posts%} for function based view  {% endcomment %}

{% for question in object_list %}
  <div class="container m-5"  style="width: 40rem;"> 
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">By :{{question.user.username}}</h6>
        <h4 class="card-title">{{question.title}}</h4>
        <p class="card-text">{{question.text | safe | truncatewords:20}}</p>
        <br>        
        <a href="{% url 'questions:category_detail' question.category.id %}" class="btn btn-info btn-sm">{{question.category}}</a>
        <br>
        <p class="card-text text-muted">views:{{question.num_of_views}}</p>
        <a href="{% url 'questions:question_detail' question.id %}" class="card-link">more</a>

      </div>
    </div>
  </div>
{% endfor %}

{% endblock%}