{% extends 'layouts/base.html' %}

{% block content %}

{% comment %} {% for question in all_posts%} for function based view  {% endcomment %}

{% for question in object_list %}
  <div class="container m-5"  style="width: 40rem;"> 
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">By :{{question.user.username}}</h6>
        <h4 class="card-title">{{question.title}}</h4>
        <p class="card-text">{{question.text | safe | truncatewords:20}}</p>
        <br>        
        <a href="{% url 'questions:category_detail' question.category.id %}" class="btn btn-info btn-sm">{{question.category}}</a>
        <br>
        <p class="card-text text-muted mt-4">views:{{question.num_of_views}}</p>

<!--        <form method="POST" action="{% url 'questions:like_question' question.id %}">-->
<!--          {% csrf_token %}-->
<!--            {% if question_liked %}-->
<!--              <button class="btn btn-danger btn-sm" type="submit" name="question_id" value="{{ question.id }}">UnLike</button>-->
<!--            {% else %}-->
<!--              <button class="btn btn-success btn-sm" type="submit" name="question_id" value="{{ question.id }}">Like</button>-->
<!--            {% endif %}-->
<!--        </form>-->

        <p class="card-text text-muted mt-4">Answers:{{question.get_num_of_answers}}</p>
        <a href="{% url 'questions:question_detail' question.id  %}" class="card-link">more</a>
        {% if question.get_num_of_answers == 0%}
        <a href="{% url 'questions:create_answer' question.id  %}" class="card-link">be the first person to answer!</a>
        {% else %}
        <a href="{% url 'questions:create_answer' question.id  %}" class="card-link">answer</a>
        {% endif %}


      </div>
    </div>
  </div>
{% endfor %}

{% endblock%}