{% extends 'layouts/base.html' %}
{% load get_item from extras %}

{% block content %}
<div class="card" style="width: 40rem;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{{question.user}}</h6>
      <h5 class="card-title">{{question.title}}</h5>
      <p class="card-text">{{question.text | safe}}</p>
      <a href="{% url 'questions:category_detail' question.category.pk %}" class="btn btn-info btn-sm">{{question.category}}</a>
      <br><br>
<!--  like for question -->
      <form method="POST" action="{% url 'questions:like_question' question.id %}">
          {% csrf_token %}
          {% if request.user.is_authenticated %}
            {% if question_liked %}
              <button class="btn btn-danger btn-sm" type="submit" name="question_id" value="{{ question.id }}">UnLike</button>
            {% else %}
              <button class="btn btn-success btn-sm" type="submit" name="question_id" value="{{ question.id }}">Like</button>
            {% endif %}
          {% endif %}
        </form>
      <time class="card-subtitle mb-2 text-muted">{{question.date_created}}</time>
      <p class="card-text text-muted mt-4">likes:{{question.get_num_of_likes}}</p>
      <a href="{% url 'questions:create_answer' question.id  %}" class="card-link">answer</a>
      <a href="{% url 'questions:report' question.id %}" class="card-link">report question</a>
    </div>
  </div>



<!--Like for Answer -->
{% for ans in answers %}
  <div class="container m-5"  style="width: 40rem;">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">By :{{ans.author.username}}</h6>
        <p class="card-text">{{ ans.body | safe }}</p>
        <p class="card-text text-muted mt-4">likes:{{ans.get_num_of_likes}}</p>
        <form method="POST" action="{% url 'questions:like_answer' ans.id  %}">
          {% csrf_token %}
          {% if request.user.is_authenticated %}
            {% if ans.id in answer_liked %}
              <button class="btn btn-danger btn-sm" type="submit" name="answer_id" value="{{ ans.id }}">UnLike</button>
            {% else %}
              <button class="btn btn-success btn-sm" type="submit" name="answer_id" value="{{ ans.id }}">Like</button>
            {% endif %}
          {% endif %}
        </form>
        <a name="answer_id" value="{{ans.id}}" href="{% url 'questions:report' ans.id %}" class="card-link">report answer</a>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}