<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% block content%}
{% include 'layouts/inc/navbar.html' %}
<div class="d-flex justify-content-center my-6 mt-5">
    <div class="d-flex justify-content-center my-6 card col-md-5">
        <form method="post" class="mt-5" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <a href="{% url 'accounts:pass_change' %}">change your password here</a>
            <input class="btn btn-primary" type="submit" value="edit"></input>
        </form>
    </div>
</div>

{% endblock %}