{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary navbar-dark">
    <a class="navbar-brand" href="{% url 'questions:home'%}">
        <img src="{% static 'images/logo.png' %}"  width="120" height="30" alt="home">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'questions:all_questions' %}">questions</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'questions:add_question'%}">add question</a>
        </li>


        <li class="nav-item active">
          <a class="nav-link" href="{% url 'questions:about'%}">about us</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="#">help</a>
          </li>
        
        <form class="form-inline my-2 my-lg-0 m-5">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>       
      </ul>
<!--      <button class="btn btn-success my-2 my-sm-0" type="submit">sign up</button>-->
        {% if request.user.is_authenticated %}
            <a class="btn btn-light my-2 my-sm-0 m-3" href="{% url 'accounts:logout' %}">logout</a>
        {% else %}
            <a class="btn btn-light my-2 my-sm-0 m-3" href="{% url 'accounts:login' %}">login</a>
            <a class="btn btn-success my-2 my-sm-0" href="{% url 'accounts:signup' %}">sign up</a>
        {% endif %}

    </div>
  </nav>